.menu-button {
  --hamburger-color: rgb(35, 74, 77);
  --hamburger-color-open: white;

  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  z-index: 5000;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
  fill: var(--hamburger-color-open);
}

.menu-button[aria-expanded="true"] .top {
  rotate: 45deg;
}

.menu-button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.menu-button[aria-expanded="true"] .mid {
  opacity: 0;
}

.menu-button .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms,
    fill 300ms;
  transform-origin: center;
}

.menu-button[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms,
    fill 300ms 300ms;
}

.hamburger {
  fill: var(--hamburger-color);
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  translate: 300px;
  transition: translate 600ms;
  background-color: rgba(21, 96, 99, 0.963);
  padding-top: 80px;
  width: 300px;
  height: 100vh;
  z-index: 1000;
  font-size: 1.3rem;
}

.sidebar.open {
  translate: 0;
  height: 100vh;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sidebar li {
  border-bottom: solid 2px rgb(59, 187, 213);
  padding: 10px;
}

.sidebar li:hover {
  background-color: rgb(17, 119, 152);
  cursor: pointer;
  border-bottom: solid 2px rgb(79, 190, 186);
  color: white;
}

li.selected {
  background: rgb(46, 119, 103);
}
