:root {
  /* --bar-width: 55px;
  --bar-height: 7px;
  --hamburger-gap: 7px;
  --foreground: black;
  --background: white;
  --hamburger-margin: 15px;
  --animation-time: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); */
  --hamburger-color: black;
  --hamburger-color-open: white;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: rgba(255, 105, 180, 0.142); */
  background-color: transparent;
  /* border-radius: 50%; */
  border: none;
  z-index: 5000;
}

.menu-button:hover {
  /* background-color: rgba(255, 105, 180, 0.501); */
  cursor: pointer;
}

.menu-button[aria-expanded="true"] :is(.top, .bottom) {
  y: 45 !important;
  fill: var(--hamburger-color-open);
}

/* .menu-button[aria-expanded="true"] svg .line {
  top: 45;
  background-color: orange;
} */
.menu-button[aria-expanded="true"] .top {
  rotate: 45deg;
}

.menu-button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.menu-button[aria-expanded="true"] .mid {
  opacity: 0;
}

/* .menu-button[aria-expanded="true"] .top {
} */

.menu-button .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms,
    fill 300ms;
  transform-origin: center;
}

.menu-button[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms,
    fill 300ms 300ms;
}

.hamburger {
  fill: var(--hamburger-color);
}

/* ///
//
//
//
//
//
/
/
/
/
/ */

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  translate: 300px;
  /* transition: translate var(--animation-time); */
  transition: translate 600ms;
  background-color: rgba(21, 96, 99, 0.963);

  padding-top: 80px;
  width: 300px;
  height: 100vh;
  z-index: 1000;
}

.sidebar.open {
  /* background-color: red;  */
  translate: 0;
  height: 100vh;
  min-height: 100vh;
}

/* .hamburger-menu.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
} */

/* .menu {
  position: absolute;
  height: 100vh;
  width: 300px;
  top: 0;
  right: 0;
  background-color: rgba(21, 97, 99, 0.909);
  z-index: 1000;
  padding: 0;
  margin: 0;

} */

/* .menu.show {
  display: block;
} */

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 100vh;
}

.sidebar li {
  border-bottom: solid 2px rgb(59, 187, 213);
  padding: 10px;
}

.sidebar li:hover {
  background-color: rgb(17, 119, 152);
  cursor: pointer;
  border-bottom: solid 2px rgb(79, 190, 186);
  color: white;
}

li.selected {
  background: rgb(46, 119, 103);
}
