@import "./scss/variables";
.App {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.container {
  background: $c-secondary-l;
  margin: 0 auto;

  max-width: 980px;
  @media (max-width: $sm-width) {
    margin: 0px;
  }
}
